# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# NodeJS / React
web/node_modules/
web/dist/
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project Specific
logs/
output/
temp/
cache/
